body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar:hover{
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  background-color: #303030;
  border-radius: 0px;
  border: 0px solid var(--scrollbarBG);
}






